:root {
    --filtersBackground: lightblue;
    --instrumentImgSide: 100px;
    --h2Size: 1.5em;
}
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

#filtersHeading {
    background-color: var(--filtersBackground);
    padding-top: 1%;
    padding-left: 30%;
    margin: 0;
    font-size: var(--h2Size);
}
#filters {
    background-color: var(--filtersBackground);
    width: 100%;
    min-height: calc(100vh - var(--h2Size) - 1%);
}
#stateFilter {
    margin-left: 30%;
    display: inline-block;
}
#state {
    width: 3em;
}
#programFilter {
    margin-left: 1em;
    display: inline-block;
}

#instruments {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}
.instrumentFilter {
    background-color: white;
    border: solid black 2px;
    transition: background-color .5s;
}
.instrumentFilter:hover {
    background-color: lightgray;
}
#filters h3 {
    margin-right: 0;
    margin-left: 30%;
}
#instruments figure {
    height: calc(var(--instrumentImgSide) + 2em);
}
figure img {
    height: var(--instrumentImgSide);
    width: var(--instrumentImgSide);
    padding-left: calc(50% - (var(--instrumentImgSide) / 2));
}
figcaption {
    text-align: center;
}

#featuredPrograms {
    min-width: calc(100% - 2 * 10px);
    margin: 10px 0;
    padding: 0 10px;
    overflow: auto;
    white-space: nowrap;
}
.featuredProgram {
    border: solid black 2px;
    margin: 0 5px;
    display: inline-grid;
    grid-template-columns: repeat(2, 50%);
}
.featuredProgram div {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.left {
    justify-content: center;
    align-items: center;
}
.featuredProgram div div, .featuredProgram div h4 {
    text-align: center;
    text-wrap: balance;
}
.phone {
    padding: 1em 0;
}
.needs {
    text-align: left;
    margin: 0;
}
.teacherPic {
    width: 100%;
}

form {
    background-color: lightgray;
    padding: 1em 0 1em 10px;
}

footer {
    padding: 1em 10px;
}

@media only screen and (max-width: 600px) {
    #filtersHeading {
        padding-left: 10%;
    }
    #stateFilter {
        margin-left: 10%;
        display: inline-block;
    }

    .instrumentFilter:hover {
        background-color: white;
    }
}