:root {
    --filtersBackground: lightblue;
    --instrumentImgSide: 100px;
    --h2Size: 1.5em;
}
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

#filtersHeading {
    background-color: var(--filtersBackground);
    padding-top: 1%;
    text-align: center;
    margin: 0;
    font-size: var(--h2Size);
    text-wrap: balance;
}
#filters {
    background-color: var(--filtersBackground);
    width: 100%;
    min-height: calc(100vh - var(--h2Size) - 1%);
    text-align: center;
}
#programFilter {
    display: inline-block;
}
#stateFilter, #zipCodeFilter {
    margin-left: 1vw;
    display: inline-block;
}
#state {
    width: 3em;
}
#zipCode {
    width: 6em;
}

#instruments {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}
.instrumentFilter {
    background-color: white;
    border: solid black 2px;
    transition: background-color .5s;
    text-align: left;
}
.instrumentFilter:hover {
    background-color: lightgray;
}
#instruments figure {
    height: calc(var(--instrumentImgSide) + 2em);
}
figure img {
    height: var(--instrumentImgSide);
    width: var(--instrumentImgSide);
    padding-left: calc(50% - (var(--instrumentImgSide) / 2));
}
figcaption {
    text-align: center;
    width: var(--instrumentImgSide);
}

#numberOfPrograms {
    margin: 15px;
}
#featuredPrograms {
    min-width: calc(100% - 2 * 10px);
    margin-top: 10px;
    padding: 0 10px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-flow: row nowrap;
}
.featuredProgram {
    border: solid black 2px;
    margin: 0 5px;
    display: inline-grid;
    grid-template-columns: repeat(2, 50%);
    width: 400px;
    max-width: 100%;
    flex-shrink: 0;
}
.featuredProgram:hover {
    box-shadow: 0 0 5px 10px gray inset;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featuredProgram div div, .featuredProgram div h4 {
    text-align: center;
    text-wrap: balance;
}
.phone {
    padding: 1em 0;
}
.teacherPic {
    width: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.needs {
    text-align: left;
    text-wrap: balance;
    margin: 0;
}

form {
    background-color: lightgray;
    padding: 1em 10px;
}

gmp-map {
    height: 100%;
}

footer {
    text-align: center;
    padding: 1em 10px;
}

@media only screen and (max-width: 600px) {
    #programFilter {
        display: inline-block;
    }

    #instruments {
        flex-flow: column nowrap;
        gap: 3px;
    }
    #instruments figure {
        margin: 0 auto;
    }
    figcaption {
        width: auto;
    }
    .instrumentFilter:hover {
        background-color: white;
    }
}